
body {
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {

    background-color: white;
    height: 1200px;
    width: 800px;
    border-radius: 50px;
    padding: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
