
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

/* Container / Card */

.container {

    background-color: white;
    width: 650px;
    height: 1125px;
    padding: 16px;
    border-radius: 50px;
    margin: 5px auto;
}

/* Header */

.header {
    text-align: left;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 0;
    gap: 12px;
}

.header ul li {
    list-style-type: none;
    background-color: darkslategray;
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 32px;
}

.header ul li:hover {
    background-color: teal;
    transform: scale(1.01);
    cursor: pointer;
}

.header ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: block;
    
}

.header h1 {
    font-size: 54px;
    color: darkslategray;
    font-weight: bold;
    margin: 16px 0;
    line-height: 1;
}

.header h2 {
    font-size: 32px;
    color: darkslategray;
    font-style: italic;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 28px;

}

.two-column-layout img {
    display: block;
    height: auto;
    width: 100%;
    border-top-right-radius: 75px;
    justify-self: center;

}

/* Main */

.main {
    display: flex;
    flex-wrap: wrap-reverse;
    color: darkslategray;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px 0;

}

.left {
    flex: 1;
    padding: 30px;
}

.left ul li {
    font-weight: bold;
}

.left ul dt {
    font-style: italic;
}  

.left ul p {
    margin: 20px 0;;
}

.right {
    flex: 1;
    padding: 30px;
}

.right p {
    line-height: 3;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    padding: 0 16px;
}


/* Footer with the horizontal lines */
.footer hr {
    height: 5px;
} 

.long-line {
    flex: 5;
    background-color: darkslategray;
}

.short-line {
    flex: 2;
    background-color: lightslategray;
}

/* Resposive design */
@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        width: 98%;
        height: auto;
    }
    .header ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    .header ul li {
        margin: 5px 0;
    }
    h1 {
        font-size: 52px;
    }
    
    h2 {
        font-size: 28px;
    }
}

/* Resposive design - Mobile version */
@media (max-width: 480px) {
    .container {
        width: 98%;
        height: auto;
    }
    .two-column-layout {
        grid-template-columns: 1fr;
    }
    .header ul {
        flex-direction: column;
    }
    .header ul li {
        margin: 5px 0;
        text-align: center;
    }
    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 22px;
    }
}