* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

h1 {
    margin-bottom: 16px;
    color: white;


}

.container {
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 16px 0;
    padding: 16px;
    text-align: center;
}

input[type="text"] {
    width: 150px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 5px;
}

button { 
    width: 75px;
    height: 50px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 28px;
    margin-top: 16px;
    border-radius: 8px;
 
}

li {
    padding: 5px 0;
    font-size: 1em;
    color: #333;
}

.deleteButton {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.deleteButton:hover {
    color: darkred;
    background: none;
}